# MariaDB database server configuration file.
# Designed for less than 5GB RAM on combined server

[client]
port                                         = 3306
socket                                       = /var/run/mysqld/mysqld.sock
default-character-set                        = utf8mb4

[mysqld_safe]
syslog
socket                                       = /var/run/mysqld/mysqld.sock
nice                                         = 0

[mysqld]

# * Basic Settings

user                                         = mysql
pid-file                                     = /var/run/mysqld/mysqld.pid
socket                                       = /var/run/mysqld/mysqld.sock
port                                         = 3306
basedir                                      = /usr
datadir                                      = /var/lib/mysql
tmpdir                                       = /tmp
lc_messages_dir                              = /usr/share/mysql
lc_messages                                  = en_US
bind-address                                 = 127.0.0.1
skip-external-locking

# * Character Sets and Collations

character-set-client-handshake               = FALSE
character-set-server                         = utf8mb4
collation-server                             = utf8mb4_unicode_ci
init-connect                                 = 'SET NAMES utf8mb4'
init_connect                                 = 'SET collation_connection = utf8mb4_unicode_ci'

# * Fine Tuning

max_connections                              = 50
connect_timeout                              = 5
interactive_timeout                          = 3000
wait_timeout                                 = 3000
max_allowed_packet                           = 64M #100M for large imports
thread_cache_size                            = 128
sort_buffer_size                             = 512KB
bulk_insert_buffer_size                      = 16M
tmp_table_size                               = 120M
max_heap_table_size                          = 120M

# * MyISAM

myisam_recover_options                       = BACKUP
key_buffer_size                              = 196KB
#open-files-limit                            = 2000
table_open_cache                             = 400
myisam_sort_buffer_size                      = 512M
concurrent_insert                            = 2
read_buffer_size                             = 256KB
read_rnd_buffer_size                         = 1M

# * Query Cache Configuration

query_cache_size                             = 536870912
query_cache_type                             = 1
query_cache_limit                            = 1048576

# * Logging and Replication

#general_log_file                            = /var/log/mysql/mysql.log
#general_log                                 = 1
log_warnings                                 = 2
slow_query_log                               = 0
slow_query_log_file                          = /var/log/mysql/mariadb-slow.log
long_query_time                              = 10
#log_slow_rate_limit                         = 1000
log_slow_verbosity                           = query_plan

#log-queries-not-using-indexes
#log_slow_admin_statements

log_bin                                       = /var/log/mysql/mariadb-bin
log_bin_index                                 = /var/log/mysql/mariadb-bin.index
sync_binlog                                   = 1
expire_logs_days                              = 10
max_binlog_size                               = 50M
binlog_format                                 = MIXED
sql_mode                                      = STRICT_TRANS_TABLES,STRICT_ALL_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

# * InnoDB

default_storage_engine                       = InnoDB     #default 10.2x
innodb_log_file_size                         = 50M
innodb_buffer_pool_size                      = 9M
innodb_log_buffer_size                       = 1M
innodb_file_per_table                        = 1
innodb_file_format                           = Barracuda  #default 10.2x
innodb_default_row_format                    = DYNAMIC    #default 10.2x
innodb_large_prefix                          = ON         #default 10.2x
innodb_open_files                            = 400
innodb_io_capacity                           = 400
innodb_flush_method                          = O_DIRECT

# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet                           = 64M

[mysql]
default-character-set                        = utf8mb4

[isamchk]
key_buffer                                   = 16M

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

#!includedir /etc/mysql/conf.d/
